#scroller::-webkit-scrollbar {
    display: none;              /* Chrome, Safari and Opera */
}

#scroller {
    -ms-overflow-style: none;   /* IE and Edge */
    scrollbar-width: none;      /* Firefox */
}